form[name='form'] .av-accordion-container {
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
}
form[name='form'] .av-accordion-container .av-accordion-legend-container {
    position: relative;
}
form[name='form'] .av-accordion-container .av-accordion-legend-container .av-accordion-legend {
    font-size: 18px;
    width: 80%;
}

form[name='form'] .av-accordion-container .av-accordion-legend-container .wdg-accordion-openall-text {
    top: 5px;
    right: 15px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    font-weight: normal;
}