<fieldset id="{{item.id}}" class="av-accordion-container" data-ng-controller="avAccordionController">
    <h3 class="av-accordion-legend-container">
        <legend class="wdg-label av-accordion-legend" data-ng-bind-html="item.label"></legend>
        <span class="wdg-accordion-openall-text" data-ng-click="openAll()"
              data-ng-if="!Util.isReceipt
              && children.length > 1
              && someAccordionIsClosed" data-ng-bind-html="item.properties.openAllText"></span>
    </h3>
    <div class="av-accordion-items-container" data-widget-children></div>
</fieldset>