<div id="{{item.id}}" class="panel-group wdg-accordion-section-container" data-ng-controller="avAccordionSectionController">
  <div class="panel panel-default wdg-accordion-panel" >
    <div class="panel-heading" data-ng-click="toggleCollapse()" data-ng-class="{'accordionOpen': accordionOpen}">
      <h4 class="panel-title" >
        <span data-ng-bind-html="sanitize(item.htmlLabel ? item.htmlLabel : item.label)"></span>
        <i data-ng-if="!accordionIsValid" class="wdg-error-icon fa fa-times-circle" 
          data-toggle="tooltip" data-placement="top" title="{{validationErrors}}"></i>
        <i class="wdg-accordion-collapse-icon" 
          data-ng-class="accordionHeaderIcon"></i>
        <span class="wdg-accordion-collapse-text hide-sm hide-xs" data-ng-if="!Util.isReceipt"
        data-ng-bind-html="!accordionOpen ? item.$$parent.properties.openText : item.$$parent.properties.closeText"></span> 
      </h4>
    </div>
    <div  class="panel-collapse">
      <div class="panel-body av-accordion-body">
        <div data-widget-children></div>
        <div class="col-xs-offset-8 col-xs-4 col-md-offset-10 col-md-2" data-ng-if="item.$$parent.properties.showNextButton && !lastAccordion">
          <button type="button" class="wdg-accordion-button btn wdg-button" data-ng-click="openNext()">
              <i class="wdg-button-icon av-icon-button"
                 data-ng-if="item.properties.icon && item.properties.iconPos == 'left'"
                 data-ng-class="item.properties.icon"></i>
            <span data-av-compile class="wdg-button-label" data-ng-bind-html="item.properties.goNextLabel"
                  ></span>
              <i class="wdg-button-icon av-icon-button"
                 data-ng-if="item.properties.icon && item.properties.iconPos == 'right'"
                 data-ng-class="item.properties.icon"></i>
          </button>
        </div>
      </div>
    </div>
  </div>   
</div>

