form[name='form'] {
  .wdg-accordion-section-container {
      padding: 0;
      margin-bottom: 5px;
      margin-top: 0;
      .wdg-accordion-collapse-text {
          float: right;
          margin-right: 5px;
      }
      .wdg-accordion-collapse-icon {
          float: right;
      }
      .wdg-accordion-panel {
          overflow: visible;          
      }
      .panel-heading {
          cursor: pointer;          
      }
      .panel-collapse {          
          margin: 0 18px 0px 18px;
          .av-accordion-body {
              padding: 15px;
              margin-bottom: 20px;
          }
      }
      .accordion-height-transition-in-delay {
        //transition: all 0.3s ease-in-out 0.3s;
      }
      .accordion-height-transition-in-nodelay {
          //transition: all 0.3s ease-in-out;
      }
      .accordion-height-transition-out-delay {
          //transition: all 0.3s ease-in-out 0.3s;
      }
      .accordion-height-transition-out-nodelay {
          //transition: all 0.3s ease-in-out;
      }
  }  
}