@screen-sm: 400px;
@screen-md: 560px;
@screen-lg: 780px;

form[name="form"].av-receipt {
  max-width: 800px !important;

  .form-footer-text {
    font-weight: bold;
    font-style: italic;
  }

  /* Field styles */
  .av-form-field {
    page-break-inside: avoid;


    textarea {
      overflow: hidden;
    }
    select, .input-group, .av-select-overlay,
    input:not([type='checkbox']) {
      height: 30px !important;
      border: 1px solid #D3D3D4 !important;
      border-radius: 0 !important;
    }

    .av-checkbox {
      .touch-icon {
        border: 1px solid #000000;
        color: #000000;
      }
    }
    .attachment-inline-container {
      display: none;
    }
  }

  /* Header Styles */
  .av-tracking-code-70060 {
    top: 60px;
    text-align: right;
  }
  .mg-header {
    border-bottom: 3px solid #EEEEEE;
    height: 55px;
    .av-form-heading-container {
      top: -120px !important;
      left: 250px;
      right: auto !important;
    }
  }

  .bs-logo-container-86033 {
    padding-bottom: 15px;
  }

  /* Section Styles */
  .mg-section-1 .wdg-section-1-header {
    .wdg-section-1-title {
      font-size: 16pt !important;
    }
    .wdg-section-1-form-name {
      display: none;
    }
    .container-fluid {
      display: none;
    }
  }

  .wdg-section-1-container .wdg-section-1-body {
    padding-top: 5px;
  }

  .mg-section-2 {
    padding: 5px 0;
    .wdg-section-2-title {
      page-break-inside: avoid;
      display: block !important;
      border-bottom: 1px solid;
    }
    .wdg-section-2-content {
      padding-left: 0;
    }
    .wdg-section-2-header {
      padding-right: 0;
    }
  }

  .wdg-section-2-info-text {
    font-size: 11px !important;
  }

  .wdg-repeated-item {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .advice-block-info-container {
    margin-bottom: 5px;
  }

  /* Hide HTML footer */
  .form-footer-container {
    display: none;
  }

  /* Buttons */
  .wdg-button, button {
    display: none;
  }
  /* Accordion */
  .wdg-accordion-section-container {
    page-break-before: always;
  }
  /* Landing page */
  .av-landing-page {
    display: none;
  }

  /* Signatur pad */
  .wdg-signature-box {
    display: block;
  }
}