form[name='form'] {
	.av-progress-bar {
	    float: right;

		.progress-bar-wrapper {
			height: @av-progressbar-height;
			.wdg-progress-bar {
				background: @av-primary-color;
				height: @av-progressbar-height;
			}
			.wdg-progress-bar-background {
				height: @av-progressbar-height;
			}
		}
		.wdg-progress-bar-background {
			background: rgb(204, 204, 204);
		}
	    .wdg-progress-group-icon {		
	      color: @av-primary-color;
	      top: -2px;
	    }
	    .progress-subtext-wrapper, .wdg-progress-bar-heading-docked {
	      @media (max-width: @screen-sm) {
	        font-size: 12px;
	      }
	    }
		.progress-subtext-wrapper {
		  color: @av-primary-color;
		}

	    .wdg-page-segment-container {
			.wdg-progress-page-bar {
				height: @av-progressbar-height;
			}
	      &.show-page-icon{
	      	&:after {
  			  background: rgb(170, 170, 170);
	        }
	        &.page-visited {
	          &:after {
  			    background: rgb(204, 204, 204);
	          }
	        }
	      }
	      &.show-group-icon{
	      	&:before {
  			  background: rgb(204, 204, 204);
	        }
			&:after {
  			  border-color: rgb(170, 170, 170);
	        }
	        &.page-visited {
	          &:before {
  			    background: @av-primary-color;
	          }
	          &:after {
  			    border-color: @av-primary-color;
	          }
	        }
	      }
       }
   }
}