form[name='form'] .av-form-header-main {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
form[name='form'] .av-form-header-main.ng-enter, form[name='form'] .av-form-header-main.ng-leave.ng-leave-active {
  transform: translateY(-100%);
}
form[name='form'] .av-form-header-main.ng-leave, form[name='form'] .av-form-header-main.ng-enter.ng-enter-active {
  transform: translateY(0);
}