form[name='form'] {
  .av-button-navigation-next { 
  	position: absolute;
    top: 50%;
  	right: 30px;
    width: 100px;

    .wdg-button-icon {
      text-align: right;
      padding-right: 22px;
      transform: scale(0.7,1);
    }

    @media only screen and (max-width: (@av-max-form-width + 240)) {
        right: -8px;
       .wdg-button {
        transform: translateX(50%);
        padding-right: 50%;
        padding-left: 0;
      }
      .wdg-button-icon {
        text-align: left;
      }
    }
    
    .wdg-button {
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: inherit;
      }
    }
  }
}