form[name='form'] {
  overflow-x: hidden;
}
form[name='form'] [data-view-stack] .av-menu-page {
  min-height: 100vh;
}

form[name='form'] [data-view-stack].stack-active,
form[name='form'] [view-stack].stack-active{
  overflow-y: hidden;
}

form[name='form'] [data-view-stack] > *, form[name='form'] [view-stack] > * {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

form[name='form'].page-transition-fade [data-view-stack] .vstk-in, form[name='form'].page-transition-none [data-view-stack] .vstk-in {
  opacity: 1;
}

form[name='form'].page-transition-fade [data-view-stack] .vstk-out, form[name='form'].page-transition-none [data-view-stack] .vstk-out {
  visibility: hidden;
  opacity: 0;
  transform: none;
}

form[name='form'].page-transition-slide [data-view-stack] .vstk-up {
  -webkit-transform: translateX(200%);
  -ms-transform: translateX(200%);
  transform: translateX(200%);
}

form[name='form'].page-transition-slide [data-view-stack] .vstk-down {
  -webkit-transform: translateX(-200%);
  -ms-transform: translateX(-200%);
  transform: translateX(-200%);
}

form[name='form'].page-transition-slide.Nav-To-Right .vstk-out.ng-enter {
  transform: translateX(200%);
}

form[name='form'].page-transition-slide.Nav-To-Left .vstk-out.ng-enter {
  transform: translateX(-200%);
}
form[name='form'].page-transition-none [data-view-stack] > *, form[name='form'].page-transition-none [view-stack] > * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}