form[name='form'] .av-fab-menu-container {
    position: fixed;
    z-index: 950;
    bottom: 0;
    right: 0;
}
form[name='form'] .av-fab-menu-container .av-fab-menu-background {
    background-color: #fff;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 1;
}

/* --------------------------------------------------------------
//                    Vertical Menu Starts                     //
---------------------------------------------------------------*/
form[name='form'] .av-fab-menu-container.vertical-menu .av-fab-menu-background {
    border-top-left-radius: 25px;
    opacity: 0.8;
    transform: translate(0%,0%);
    width: 125px;
    height: 265px;
}
form[name='form'] .av-fab-menu-container.vertical-menu .av-fab-menu-background.ng-enter{ /* All leave start */
    transition: 0.3s opacity ease-in-out, 0.3s transform ease-in-out;
}
form[name='form'] .av-fab-menu-container.vertical-menu .av-fab-menu-background.ng-leave { /* All leave start */
    transition: 0.55s opacity ease-in-out, 0.55s transform ease-in-out;
}
form[name='form'] .av-fab-menu-container.vertical-menu .av-fab-menu-background.ng-enter, /* All enter start */
form[name='form'] .av-fab-menu-container.vertical-menu .av-fab-menu-background.ng-enter-prepare, /* Safari enter start */
form[name='form'] .av-fab-menu-container.vertical-menu .av-fab-menu-background.ng-leave.ng-leave-active { /* All leave end */
    opacity: 0;
    transform: translate(0%,100%);
}
form[name='form'] .av-fab-menu-container.vertical-menu .av-fab-menu-background.ng-enter.ng-enter-active, /* All enter end */
form[name='form'] .av-fab-menu-container.vertical-menu .av-fab-menu-background.ng-leave { /* All leave start */
    opacity: 0.8;
    transform: translate(0%,0%);
}
form[name='form'] .av-fab-menu-container.vertical-menu .id-functionalMenu {
    right: 10px;
}
@media (max-width: 1200px) {
    form[name='form'] .av-fab-menu-container.vertical-menu .id-functionalMenu {
        width: 30px;
        height: 30px;
        right: 10px;
    }
}
@media (max-width: 1200px) {
    form[name='form'] .av-fab-menu-container.vertical-menu .id-functionalMenu .wdg-button {
        padding: 0;
    }
}
/* --------------------------------------------------------------
//                     Vertical Menu Ends                      //
---------------------------------------------------------------*/

/* --------------------------------------------------------------
//                       Fab Menu Starts                       //
---------------------------------------------------------------*/
form[name='form'] .av-fab-menu-container.fab-menu .av-fab-menu-background {
    opacity: 0.8;
    border-radius: 50%;
    transform: translate(50%,50%);
    width: 400px;
    height: 400px;
}
form[name='form'] .av-fab-menu-container.fab-menu .av-fab-menu-background.ng-enter { /* All enter start */
    transition: 0.1s opacity ease-in-out, 0.1s transform ease-in-out;
}
form[name='form'] .av-fab-menu-container.fab-menu .av-fab-menu-background.ng-leave { /* All leave start */
    transition: 0.8s opacity ease-in-out, 0.8s transform ease-in-out;
}
form[name='form'] .av-fab-menu-container.fab-menu .av-fab-menu-background.ng-enter, /* All enter start */
form[name='form'] .av-fab-menu-container.fab-menu .av-fab-menu-background.ng-enter-prepare, /* Safari enter start */
form[name='form'] .av-fab-menu-container.fab-menu .av-fab-menu-background.ng-leave.ng-leave-active { /* All leave end */
    opacity: 0;
    transform: translate(100%,100%);
 }
form[name='form'] .av-fab-menu-container.fab-menu .av-fab-menu-background.ng-enter.ng-enter-active, /* All enter end */
form[name='form'] .av-fab-menu-container.fab-menu .av-fab-menu-background.ng-leave { /* All leave start */
    opacity: 0.8;
    transform: translate(50%,50%);
}
/* --------------------------------------------------------------
//                        Fab Menu Ends                        //
---------------------------------------------------------------*/

/* --------------------------------------------------------------
//                   Functional Menu Starts                    //
---------------------------------------------------------------*/
form[name='form'] .av-fab-menu-container .id-functionalMenu {
    width: 60px !important;
    height: 60px !important;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 99999;
    float:right!important;
}
form[name='form'] .av-fab-menu-container .id-functionalMenu .wdg-button {
    width: 100% !important;
    height: 100% !important;
    padding: 10px;
}
form[name='form'] .av-fab-menu-container .id-functionalMenu .wdg-button-icon {
    font-size: 30px !important;
}
form[name='form'] .av-fab-menu-container .id-functionalMenu .wdg-button-label {
    display: none;
}
/* --------------------------------------------------------------
//                    Functional Menu Ends                     //
---------------------------------------------------------------*/