form[name='form'] .av-fab-menu-container {
    position: absolute;
    z-index: 950;
}
form[name='form'] .av-fab-menu-container {
    position: absolute;
}
form[name='form'] .av-fab-menu-container .row {
    height: 100%;
}

/* --------------------------------------------------------------
//                   Functional Menu Starts                    //
---------------------------------------------------------------*/
form[name='form'] .av-fab-menu-container .id-functionalMenu .wdg-button-label {
    display: none;
}
/* --------------------------------------------------------------
//                    Functional Menu Ends                     //
---------------------------------------------------------------*/